@page
@model Web_application.Pages.Beers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Beer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beer.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beer.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beer.Voltage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beer.Voltage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beer.Volume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beer.Volume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beer.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beer.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Beer.Deadline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Beer.Deadline)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Beer?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
